<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="
    sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <!-- HTML to write -->
    <div style="margin: 5% ; width: max-content;">
        <h4 style="color: #007bff;">Here are some links to the relevant websites. If necessary, you can jum into...</h4></br><br>
        <a href="https://www.collegenote.net/" 
        data-toggle="tooltip" title="Some tooltip text!">Find BSC.CSIT Study Materials</a></br><br>
        <a href="https://bcanotesnepal.com/" data-toggle="tooltip" title="Some tooltip text!">Find BCA Study Materials</a></br><br>
        <a href="https://bimstudynotes.com/" data-toggle="tooltip" title="Some tooltip text!">Find BIM Study Materials</a></br><br>
        <a href="/" class="btn btn-primary" data-toggle="tooltip" title="Some tooltip text!">Go to Home Page</a>


    </div>
</body>
</html>