<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="ws-black w3-center" style="padding-top:90px;padding-bottom:90px;">
        <div class="w3-content learntocodecontent" style="xmax-width:1400px">
          <h1 class="learntocodeh1">Learn to Code</h1>
          <h3 class="learntocodeh3"> 
            <i class="fa fa-logo w3-hide" style="color:#FFC0C7!important;margin-right:20px;z-index:1;font-size:36px!important;vertical-align:bottom"></i>
            With the world's largest web developer site.
          </h3>
          <br>
          <form class="example" action="/action_page.php" style="margin:auto;max-width:500px">
            <input type="text" placeholder="Search our tutorials, e.g. HTML" id="search2" class="ga-fp" autocomplete="off" onkeydown="key_pressed_in_search(event)" oninput="find_search_results(this)" onfocus="find_search_results(this)" style="border-bottom-left-radius: 25px;">
            <button type="button" id="learntocode_searchbtn" onclick="click_learntocode_search_btn()"><i id="learntocode_searchicon" class="fa fa-search ga-fp"></i></button>
            <div id="listofsearchresults" style="display: none;"></div>
          </form>  
          <h4 style="color:white;font-size:23px;font-weight:700;margin-top:30px!important;">
            <a href="where_to_start.asp" class="ga-fp">Not Sure Where To Begin?</a>
          </h4>
        </div>
      </div>
</body>
</html>