<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProgressMap</title>
</head>
<body>
    <h2 style="text-align: center ;"> Progress Graph</h2>
    <div style="display: flex; justify-content: center; margin-top: 30px;">
        <a href="/" data-toggle="tooltip" title="Back to home">
        <img src="/images/image.png" alt="A progress graph in a day" style=" height: 580px; width: 1000px;">
        </a>
    </div>
</body>
</html>